
body{
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
      
}

.square {
    background-color: rgba(41, 41, 41, 0);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;  
    border-radius: 2%;
    min-width: 280px;
    min-height: 400px;
    max-height: 450px;
    box-shadow: 10px 8px 40px 8px rgb(0, 0, 0);
    position: absolute;
    top: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.square span{
    position: absolute;
    display: block;
}

.square span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background:linear-gradient(60deg,transparent,rgb(0, 204, 255));
    animation: mymove1 4s linear infinite;
}

@keyframes mymove1 {
    0% {left: 100%;}
    50%,100%{left: -100%;}
}

.square span:nth-child(2){
    top: -100%;
    width: 3px;
    height: 100%;
    background:linear-gradient(60deg,transparent,rgb(0, 204, 255));
    animation: mymove2 4s linear infinite;
    

}

@keyframes mymove2 {
    0% {top: -100%;}
    50%,100%{top: 100%;}
}

.square span:nth-child(3){
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 3px;
    background:linear-gradient(60deg,transparent,rgb(0, 204, 255));
    animation: mymove3 4s linear infinite;
}

@keyframes mymove3 {
    0% {right: 100%;}
    75%, 100%{right: -100%;}
}

.square span:nth-child(4){
    top: -100%;
    left: 98%;
    width: 3px;
    height: 100%;
    background:linear-gradient(60deg,transparent,rgb(0, 204, 255));
    animation: mymove4 4s linear infinite;
    
}

@keyframes mymove4 {
    0% {top: 100%;}
    50%,100%{top: -100%;}
}

.banner {
    padding-top: 5%;
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 4%;
    color: rgb(23, 164, 211);
    font-size: 25px;
    text-shadow: 0 0 .4em rgb(18, 18, 19), 0 0 0.8em rgb(144, 148, 156);
}

.pass_camp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
}
.pass_camp > input {
    float: left;
    padding: 10px;
    color: rgba(255, 255, 255, 0.699);
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.295);
}

.pass_camp >input:focus {
    background-color: #97909046;
}

.pass_camp > p {
    float: left;
    color: rgba(8, 178, 245, 0.644);
    text-shadow: 0 0 .4em rgb(18, 18, 19), 0 0 0.8em rgb(144, 148, 156);
    margin-right: 45%;
}

.log_camp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.log_camp > p {
    float: left;
    color: rgba(8, 178, 245, 0.644);
    text-shadow: 0 0 .4em rgb(18, 18, 19), 0 0 0.8em rgb(144, 148, 156);
    margin-right: 45%;

}

.log_camp > input {
    float: left;
    padding: 10px;
    color: rgba(255, 255, 255, 0.699);
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.295);
}

.log_camp >input:focus {
    background-color: #97909046;
}

.sub_camp {
    display: inline-grid;
}

.sub_camp a{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.925);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub_camp a:hover{
    color: grey;
}

.sub_camp a:active{
    color: white;
}

.sub_camp a:visited{
    color: lightblue;
}

.sub_camp > input {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #08b2f5a4;
    text-shadow: 0 0 0 1em rgb(62, 66, 73), 0 0 0.2em rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(8, 178, 245, 0.644);
    border-radius: 2%;
    box-shadow: 1px 1px 8px 1px rgba(8, 178, 245, 0.644);
    margin-top: 15%;
    padding: 8px 40px 8px 40px;
    margin-bottom: 15%;
}

.sub_camp > input:hover {
    background-color: rgb(63, 65, 70);
    color: black;
}

.sub_camp > input:active{
    color: white;
} 

